h1{
    color: blueviolet;
    font-family: sans-serif; /*estilo de las letras*/
    text-align: center; /*posicion*/

}

body{
    background-color: aquamarine;
    font-family: sans-serif;/* tipo de letra*/


}

p{
    color: red;
}
